/* General */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(232, 239, 241);
}
/* header */
header{
    height:80px;
    background-color: white;
    vertical-align: middle;
    line-height: 80px;
    position: relative;
}

#logo{
    padding:16px;
}

h1{
    display:inline-block;
    font-size:35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(5, 5, 31);
    position: absolute; 
}
/* Main content */
.container{
    width: 900px;
    height:700px;
    background-color: white;
    vertical-align: middle;
    margin:auto;
    margin-top: 50px;
    border-radius:10px;
}
.user-input{
    height:70px;
    border-bottom: 2px solid rgb(232, 231, 231);
}

button {
    padding:10px;
    color:white;
    background-color: rgb(0, 174, 255);
    border-radius: 10px;
    border-style: none;
    margin-left:40px;
    margin-top:20px;
    margin-right: 5px;
}
#grey-button{
    color:lightgrey;
    background-color: white;
    margin:0;
    border: 2px solid rgb(232, 231, 231);
}
/* Sections */
section{
    margin-left:40px;
    margin-top:40px;
}
h2{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}
p{
    font-size:16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom:23px;
}
strong{
    background-color: rgb(0, 174, 255);
    padding:8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size:12px;
    color:white;
    font-style: normal;
    font-weight: lighter;
}
span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}
.checkmark{
    border: 1px solid green;
    color:green;
    text-align: center;
}
.xmark{
    color:red;
    border: 1px solid red;
    text-align: center;
    font-size:14px;
}

#goals{
    background-color: rgb(160, 84, 231);
}
#recruiting{
    background-color: rgb(100, 188, 122);
}
#mobile{
    background-color: rgb(228, 131, 62);
}
#website{
    background-color: rgb(228, 62, 209);
}
#sales{
    background-color: rgb(166, 216, 105);
}